:root{
    --purple-light:#B367E1;
    --purple-dark: #7400B9;
    --purple-darker: #3B0F56;
    --blue-light: #BAD2DB;
    --blue-dark: #6EC7E6;
    --blue-darker: #0BA1D5;
    --grey-normal: #D1D1D1;
    --grey-dark: #848484;
    --orange-normal: #DE8948;
    --green-normal: #96C175;
    --red-normal: #D16B6B;
    --transparent-black30: #00000030;
    --transparent-black16: #00000016;
    --white-normal: #FFFFFF;
    --black-normal: #000;
}


body, html{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}